# Server
NODE_ENV=environment
PORT=port_number

# JWT
JWT_SECRET=jwt-secret-goes-here
JWT_EXPIRES_IN=token-expiry-duration-goes-here

# RabbitMQ
RABBITMQ_URL=rabbitmq-url-goes-here
TASK_QUEUE=task-q-name-goes-here
RESULT_QUEUE=resutls-q-name-goes-here

# External APIs
JSON_PLACEHOLDER_URL=https://jsonplaceholder.typicode.com

# Retry Configuration
MAX_RETRIES=max-retries-count-number
RETRY_DELAY_MS=retry-delay-number